@page "/"
@page "/games"

<h1>Recent games</h1>

<table class="table table-sm">
    <thead>
        <tr>
            <th>Time</th>
            <th>Players</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var game in GamesList)
        {
            <tr>
                <td>@($"{game.Timestamp:dd MMM HH:mm}")</td>
                <td><span class="@(game.Player1Result.IsWinner ? "player-winner" : "player-looser")">@game.Player1Result.FullName</span> vs. <span class="@(game.Player2Result.IsWinner ? "player-winner" : "player-looser")">@game.Player2Result.FullName</span></td>
                <td><span class="@(game.Player1Result.IsWinner ? "score-winner" : "score-looser")">@game.Player1Result.Score</span> : <span class="@(game.Player2Result.IsWinner ? "score-winner" : "score-looser")">@game.Player2Result.Score</span></td>
            </tr>
        }
    </tbody>
</table>
