@page "/players"
@inherits PlayersBase

<h1>Players</h1>
@if (IsLoading)
{
    <div class="py-4 text-center">
        <span><span class="oi oi-loop-circular" aria-hidden="true"></span> Loading...</span>
    </div>
}
else
{
    <table class="table table-sm">
        <thead>
        <tr>
            <th>Name</th>
            <th>Winrate</th>
            <th>Wins</th>
            <th>Losses</th>
            <th>Plays</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var player in Players)
        {
            <tr>
                <td>@player.FullName</td>
                <td><span class="@player.WinrateCss">@(player.HasWinrate ? $"{player.Winrate:#.##}%" : "N/A")</span></td>
                <td>@player.Wins</td>
                <td>@player.Losses</td>
                <td>@player.Total</td>
            </tr>
        }
        </tbody>
    </table>
}